* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: nth($font-sizes, 1);
  color: nth($colors, 1);
}

// TYPOGRAPHY
h2 {
  font-size: nth($title-fsz, 1);
}

h3 {
  font-size: nth($title-fsz, 2);
}

h4 {
  font-size: nth($title-fsz, 3);
}

a {
  font-size: 12px;
  text-decoration: none;
  color: nth($colors, 3);
}

ul {
  list-style: none;
}

li {
  margin: 0 10px;
  i {
    font-size: nth($font-sizes, 4);
  }
}

img {
  max-width: 100%;
}