.container {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
}

.container-lg {
  margin: 0 auto;
  height: 100%;
  width: 1600px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    padding: 15px;
    width: (100% / (12 / $i));
  }
}

.flex {
  display: flex;
  &.fd-col {
    flex-direction: column;
  }
  &.fd-row-rev {
    flex-direction: row-reverse;
  }
  &.jc-end {
    justify-content: flex-end;
  }
  &.jc-center {
    justify-content: center;
  }
  &.jc-between {
    justify-content: space-between;
  }
  &.jc-around {
    justify-content: space-around;
  }
  &.jc-evenly {
    justify-content: space-evenly;
  }
  &.ai-center {
    align-items: center;
  }
  &.ai-end {
    align-items: flex-end;
  }
}

.text-center {
  text-align: center;
}


@for $i from 1 through 6 {
  .mb-#{$i * 10} {
    margin-bottom: $i * 10px;
  }
}