$colors:#fff,
      rgb(51,51,51),
      rgb(152,152,152),
      rgb(0, 156, 255),
      rgb(231, 69, 0);

$bg-colors: rgb(16,16,16), rgb(230,230,230), rgb(102,102,102), rgb(40, 172, 255), rgb(246,246,246), rgb(34, 34, 34);

$font-sizes: 18px, 16px, 14px, 12px, 10px;
$title-fsz: 35px, 28px, 24px;