// Variables
@import "partials/variables";
// Commons
@import "partials/commons";
// Utilities
@import "partials/utilities";
// Header
@import "partials/header";
// Hero
@import "partials/hero";
// Product bar
@import "partials/product-nav";
// Quick start
@import "partials/quick-start";
// Painting
@import "partials/painting";
// Background attach
@import "partials/bg-attach";
// Painting tools
@import "partials/painting-tools";